html{
	background-color: #dbd6cf;
	font-family: "Arial", sansserif;
	line-height: 1.5rem;
}

h1, h2, h3{
	font-weight: normal;
	font-size: 2rem;
	font-family: "Alfa Slab One", cursive;
	color: #79756f;
}

header {
	background-color: #79756f;
	padding: 0.5em;
	margin: 0;
}
.planets{
	color: white;
	font-size: 3rem;
}

h1 {
	margin: 0.5em;
	text-align: center;
}

nav {
	text-align: center;
}

nav li {
	display: inline-block;
}

nav ol {
	margin: 0;
}

nav a {
	display: inline-block;
	background-color: #703838;
	color: white;
	text-decoration: none;
	text-align: center;
	border-radius: 4px;
	padding: 0.5em;
}
a {
	color: #713754;

}

a:hover {
	color: red;
}


ol {
	list-style-type: none;
}

blockquote {
	font-size: 1.5rem;
	font-family: "Lora", serif;
	font-style: italic;
}
span {
	color: #79756f;
}

.neil {
	background-color: #dbd6cf;
	text-align: right;
	font-family: "Lora", serif;
	font-style: italic;
	color: #89837d;
}

.roman-nums{
	list-style-type: lower-roman;
	padding: 20px;

}

figcaption {
	text-align: center;
	font-size: .9rem;
	font-style: italic;
}

figure {
	border: 1px solid #79756f;
	border-radius: 8px;
	margin: 0;
	padding: 5px 5px 5px;
}

img {
	width: 100%;
}

ul {
	list-style-type: circle;
}


b {
	color: #79756f;
}

dt {
	font-weight: bold;
}

footer {
	background-color: #79756f;
}
.sour {
	color: #dbd6cf;
	padding: 0.5em 0.5em 0.2em 0.5em;
}
